<h1><%= @user.hero_name %></h1>
<h2>Alter Ego: <%= @user.alterego %></h2>
<p>Bio: <%= @user.bio %></p>
<ul>
  <% @user.lairs.each do |lair| %>
  <li><%= lair.title %> | <%= lair.location %></li>
  <% end %>
</ul>

<h4>Your bookings:</h4>
<ul>
  <% @user.bookings.each do |booking| %>
  <li>
    You are staying in: <%= booking.lair.title %>
    Your host is: <%= booking.lair.user.hero_name %>
    From: <%= booking.start_date %>
    To: <%= booking.end_date %>
  </li>
  <% end %>
</ul>
