<div class="container">
  <div class="content d-flex">
    <div class="character-card">
      <div class="icon" >
        <%= cl_image_tag @user.photo.key, height: 250, width: 250, crop: :fill, gravity: :face %>
      </div>
      <div class="name-bar button yellow-button my-3">
        <h1><%= @user.hero_name %></h1>
        <h2>Alter Ego: <%= @user.alterego %></h2>
      </div>
      <div class="bio">
        <p>Bio: <%= @user.bio %></p>
      </div>
      <div class="new-host">
        <% if @owner %>
          <%= link_to "Host a new lair", new_lair_path, class: "btn button blue-button" %>
        <% end %>
      </div>
    </div>

    <div class="lair-bookings <%= @user.lairs.empty? ? "" : "col-6" %>">
      <% if @owner %>
        <div class="bookings">
            <div>
              <h3> Your bookings </h3>
              <ul>
                <% @user.bookings.each do |booking| %>
                <%= link_to lair_path(booking.lair), class: "no-decoration" do  %>
                  <div class="card-trip">
                    <%= cl_image_tag booking.lair.photos.first.key, crop: :fill %>
                  <div class="card-trip-infos">
                      <div>
                        <h2><%= booking.lair.title %></h2>
                        <p>From: <%= booking.start_date %>, To: <%= booking.end_date %> </p>
                      </div>
                      <h2 class="card-trip-pricing">£<%= booking.total_cost %></h2>
                      <%= cl_image_tag booking.lair.user.photo.key, class: "card-trip-user avatar-bordered", crop: :fill, gravity: :face %>
                    </div>
                  </div>
                <% end %>
                <% end %>
              </ul>
            </div>
        </div>
      <% end %>
      <% if !@user.lairs.empty? %>
      <div class="lairs">
        <h3> <%= @user.hero_name %>'s Lairs </h3>
        <ul>
          <% @user.lairs.each do |lair| %>
          <div>
          </div>
          <%= link_to lair_path(lair), class: "no-decoration" do %>
          <div class="card-product">
            <%= cl_image_tag lair.photos.first.key, height: 250, width: 250, crop: :fill %>
            <div class="card-product-infos">
              <h2><%= lair.title %></h2>
              <p><%= lair.location %></p>
            </div>
          </div>
          <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
