<div class="container">
  <div class="content d-flex">
    <div class="character-card">
      <div class="icon" >
        <%= cl_image_tag @user.photo.key, height: 250, width: 250, crop: :fill, gravity: :face %>
      </div>
      <div class="name-bar button yellow-button my-3">
        <h1><%= @user.hero_name %></h1>
        <h2>Alter Ego: <%= @user.alterego %></h2>
      </div>
      <div class="bio">
        <p>Bio: <%= @user.bio %></p>
      </div>
      <% unless @user.lairs.empty? %>
        <div class="lairs">
          <% if @user == current_user %>
            <h3> Your Lairs </h3>
          <% else %>
            <h3> <%= @user.hero_name %> Lairs</h3>
          <% end %>
          <ul>
            <% @user.lairs.each do |lair| %>
            <div>
            </div>
            <%= link_to lair_path(lair), class: "link-to-text-color" do %>
            <div class="card-product">
              <%= cl_image_tag lair.photos.first.key, height: 250, width: 250, crop: :fill %>
              <div class="card-product-infos">
                <h2><%= lair.title %></h2>
                <p><%= lair.location %></p>
              </div>
            </div>
            <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="new-host">
        <% if @owner && current_user.lairs.empty? %>
          <%= link_to "Host a new lair", new_lair_path, class: "btn button blue-button" %>
        <% elsif @owner %>
          <%= link_to "Host another lair", new_lair_path, class: "btn button blue-button" %>
        <% end %>
      </div>
    </div>

    <% if @user == current_user %>
      <% unless @user.bookings.empty? %>
        <div class="lair-bookings <%= @user.bookings.empty? ? "" : "col-6" %>">
          <% if @owner %>
            <div class="bookings">
              <div>
                <h3> Your upcoming bookings </h3>
                <ul>
                  <% @user.bookings.order(start_date: :asc).each do |booking| %>
                    <!-- Button -->
                    <div class="no-decoration" data-toggle="modal" data-target="#booking<%= booking.id %>">
                      <div class="card-trip">
                        <%= cl_image_tag booking.lair.photos.first.key, crop: :fill %>
                        <div class="card-trip-infos">
                            <div>
                              <h2><%= booking.lair.title %></h2>
                              <p><%= booking.lair.description %></p>
                              <p><%= booking.start_date %></p>
                            </div>
                            <h2 class="card-trip-pricing">£<%= booking.total_cost %></h2>
                            <%= cl_image_tag booking.lair.user.photo.key, class: "card-trip-user avatar-bordered", crop: :fill, gravity: :face %>
                        </div>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="booking<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content user-booking">
                          <div class="modal-header button yellow-button mb-1">
                            <h2 class="modal-title" id="exampleModalLongTitle">Your stay at <%= booking.lair.user.hero_name %>'s <%= booking.lair.title %></h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">X</span>
                            </button>
                          </div>
                          <div class="lair-info">
                            <h3 class="text-center m-0"><%= booking.lair.location %></h3>
                          </div>
                          <div class="modal-body p-0">
                            <div class="d-flex justify-content-stretch">
                              <div class="lair-info">
                                <h3 class="lair-title text-center"> Dates</h3>
                                <div class="d-flex align-items-center mx-auto">
                                  <div class="modal-date">
                                    <h3><%= booking.start_date.strftime("%-d %b") %></h3>
                                    <h3><%= booking.start_date.strftime("%Y") %></h3>
                                  </div>
                                  <div class="date-separator"></div>
                                  <div class="modal-date">
                                    <h3><%= booking.end_date.strftime("%-d %b") %></h3>
                                    <h3><%= booking.end_date.strftime("%Y") %></h3>
                                  </div>
                                </div>
                              </div>
                              <div class="lair-price flex-grow-1 text-center d-flex flex-column justify-content-center">
                                <h4>Total Cost</h4>
                                <h4 class="lair-cost">$<%= booking.total_cost %></h4>
                                <div><%= link_to "Delete", booking_path(booking), class: "btn button red-button", method: :delete %></div>
                              </div>
                            </div>
                          </div>
                          <%= link_to lair_path(booking.lair) do %>
                          <div class="button blue-button text-center"><h2>View Lair</h2></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
