<h1><%= @user.hero_name %></h1>
<h2>Alter Ego: <%= @user.alterego %></h2>
<p>Bio: <%= @user.bio %></p>
<ul>
  <% @user.lairs.each do |lair| %>
  <li><%= lair.title %> | <%= lair.location %></li>
  <% end %>
</ul>
