<div class="lair-card <%= add_class %>">
  <div class="button yellow-button lair-card-button">
    <% if current_user == lair.user %>
      THIS IS YOUR LAIR
    <% else %>
      YOU ARE NOT A <%= user_signed_in? && current_user.is_hero ? "VILLAIN" : "HERO" %>
    <% end %>
  </div>
  <div class="lair-image">
    <%= cl_image_tag lair.photos.first.key, crop: :fill  %>
  </div>

  <div class="card-description">
    <div class="d-flex justify-content-stretch lair-content">
      <div class="lair-info flex-grow-1">
        <h4 class="lair-title"> <%= lair.title %></h4>
        <p class="lair-bio"><%= lair.description %></p>
      </div>

      <div class="lair-price flex-grow-1 text-center">
        <h4 class="lair-cost">$<%= lair.price_per_night %></h4>
        <h4>per night</h4>
      </div>
    </div>
  </div>

</div>
