<div class="header">
  <%= link_to root_path, class: "header-links" do %>
    <button class="btn button red-button">Go Back</button>
  <% end %>
  <h1>Find a new HQ</h1>
  <%= link_to new_lair_path, class: "header-links" do %>
    <button class="btn button blue-button">Create a Lair</button>
  <% end %>
</div>
<hr>
<div class="container">

  <div class="search-bar">
    <%= form_tag lairs_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a lair"
      %>
    <% end %>
  </div>
  <!-- display message if result of search was empty -->
  <% unless @found %>
    <p>No lairs meet your search criteria :(</p>
  <% end %>
  <div class="row">
    <% @lairs.each do |lair| %>
      <div class="col-sm-12 col-md-6 d-flex justify-content-stretch">

        <!--Only apply link to if matching user with lair owner
            Need to check whether user signed in as well, otherwise breaks
            since we cannot check current_user.is_hero -->
        <% if user_signed_in? %>
          <% if current_user.is_hero == lair.user.is_hero %>

            <%= link_to lair_path(lair) do %>
              <%= render "lair_card", { lair: lair, add_class: "" } %>
            <% end %>

          <% else %>
              <%= render "lair_card", { lair: lair, add_class: "lair-card-disabled"} %>

          <% end %>
        <!-- if user not signed in, display all cards, no additional style-->
        <% else %>
          <%= link_to lair_path(lair) do %>
            <%= render "lair_card", { lair: lair, add_class: "" } %>
          <% end %>

        <% end %>

      </div>
    <% end %>
  </div>
</div>
