<div class="header">
  <%= link_to root_path, class: "header-links" do %>
    <button class="btn button red-button">Go Back</button>
  <% end %>
  <h1>Find a new HQ</h1>
  <%= link_to new_lair_path, class: "header-links" do %>
    <button class="btn button blue-button">Create a Lair</button>
  <% end %>
</div>
<hr>
<div class="container">
  <div class="form-inline">
    <div class="form-group">
      <%= form_tag lairs_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control button",
          placeholder: "Find a lair..." %>
        <%= submit_tag "Search!", class: "btn button blue-button" %>
      <% end %>
    </div>
  </div>
  <!-- display message if result of search was empty -->
  <% unless @found %>
    <div class="text-center alert alert-danger">No lairs meet your search criteria :(</div>
  <% end %>
  <div class="row">
    <% @lairs.each do |lair| %>
      <div class="col-sm-12 col-md-6 d-flex justify-content-stretch">
      <%= link_to lair_path(lair) do %>
        <div class="lair-card">
          <div class="lair-image">
            <%= cl_image_tag lair.photos.first.key, crop: :fill  %>
          </div>

          <div class="d-flex justify-content-stretch lair-content">
            <div class="lair-info flex-grow-1">
              <h4 class="lair-title"> <%= lair.title %></h4>
              <p class="lair-bio"><%= lair.description %></p>
            </div>

            <div class="lair-price flex-grow-1 text-center">
              <h4 class="lair-cost">$<%= lair.price_per_night %></h4>
              <h3>per night</h3>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
