<div class="header" id="audio_source" data-src="<%= asset_path('batman.mp3') %>">
  <%= link_to root_path, class: "header-links" do %>
    <button class="btn button red-button">Go Back</button>
  <% end %>
  <h1>Find a new HQ</h1>
  <%= link_to new_lair_path, class: "header-links" do %>
    <button class="btn button blue-button">Create a Lair</button>
  <% end %>
</div>
<hr>
<div class="container content-wrap">
  <div class="">
    <%= form_tag lairs_path, method: :get, class: "d-flex align-items-center justify-content-center" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form width-50",
        placeholder: "Find a lair..." %>
      <%= submit_tag "Search!", class: "button blue-button" %>
    <% end %>
  </div>
  <!-- display message if result of search was empty -->
  <% unless @found %>
    <div class="text-center alert alert-danger">No lairs meet your search criteria :(</div>
  <% end %>
  <div class="row">
    <% @lairs.each do |lair| %>
      <div class="col-sm-12 col-md-6 d-flex justify-content-stretch">

        <!--Only apply link to if matching user with lair owner
            Need to check whether user signed in as well, otherwise breaks
            since we cannot check current_user.is_hero -->
        <% if user_signed_in? %>
          <% if current_user.is_hero == lair.user.is_hero %>
            <!--using add_class function to add css classes to lair cards based on current user-->
            <% if lair.user == current_user %>
              <%= link_to lair_path(lair), class: 'link-to-text-color' do %>
                <%= render "lair_card", { lair: lair, add_class: "lair-card-owner" } %>
              <% end %>
            <% else %>
              <%= link_to lair_path(lair) do %>
                <%= render "lair_card", { lair: lair, add_class: "" } %>
              <% end %>
            <% end %>
          <% else %>
            <%= render "lair_card", { lair: lair, add_class: "lair-card-disabled"} %>
          <% end %>
        <!-- if user not signed in, display all cards, no additional style-->
        <% else %>
          <%= link_to lair_path(lair) do %>
            <%= render "lair_card", { lair: lair, add_class: "" } %>
          <% end %>
        <% end %>
      </div>
      <% end %>
  </div>
</div>
