<!DOCTYPE html>
<html>
  <head>
    <title>Lairbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application-villain', media: 'all', 'data-turbolinks-track': 'reload' if user_signed_in? && !current_user.is_hero %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <div class="page-container">
      <%= render 'shared/navbar' %>
      <div class="">
        <%= yield %>
      </div>
      <% unless action_name == "home" %>
        <%= render 'shared/footer' %>
      <% end %>
    </div>
  </body>
</html>
